@model Bigshool.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attending</h2>


<ul class="course">
    @foreach (var course in Model.UpcomingCourses)
    {
        <li>
            <div class="date">
                <div class="month">
                    @course.DateTime.ToString("MM")
                </div>
                <div class="day">
                    @course.DateTime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @course.Lecturer.Name
                    @if (course.IsCanceled)
                    {
                        <span class="label label-warning">Canceled</span>
                    }
                </span>
                <span class="category">
                    
                    @if (Model.ShowAction && !course.IsCanceled)
                    {
                        <button data-user-id="@course.LecturerId" class="btn btn-link btn-sm js-toggle-attendance">Follow</button>
                    }
                </span>
                <span class="category">
                    @course.Category.Name  
                </span>
            </div>
        </li>
    }

</ul>
